{% extends "base.html" %}
{% load static %}

{% block title %}
- {{post.title}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-4" width="100%">
            <h2>{{ post.title }}</h2>
            <p>Published on {{ post.publish|date:'d M Y' }}</p>
            <p>
                {{ post.body|linebreaks }}
            </p>
        </div>
    </div>
</div>
{% endblock %}