{% extends "base.html" %}
{% load static %}

{% block title %}
- Club News
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-12 mb-4">
            <h1>Club News</h1>
            <h4>See what's happening in our club</h4>
        </div>

        {% for post in posts %}
        <div class="col-12 mb-4 mb-md-2">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="thumbnail rounded float-left mr-4">
            <h2>
                <a href="{{ post.get_post_url }}">
                    {{ post.title }}
                </a>
            </h2>
            <p class="date">
                Published on {{ post.publish }}
            </p>
            {{ post.body|truncatewords:30|linebreaks }}
        </div>
        
        {% endfor %}
    </div>
</div>

{% endblock %}