{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block title %}
- View basket
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2>View basket content</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if basket_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-bordeless">
                        <thead>
                            <tr>
                                <th scope="col">Product Details</th>
                                <th scope="col"></th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col" class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                        <tr>
                            <td class="p3" style='width: 15%'>
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" style="width: 90px; height: 90px">
                            </td>
                            <td class="py-3 text-start">
                                <p class="my-0">{{ item.product.name }}</p>
                                <p class="my-0">{% if item.product.has_sizes %}Size: {{ item.size|upper }}{% endif %}</p>

                            </td>
                            <td class="py-3">
                                {{ item.quantity }}
                            </td>
                            <td class="py-3">
                                {{ item.product.price }}
                            </td>
                            <td class="py-3 text-right">
                                €{{ item.product.price| calc_subtotal:item.quantity }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6>Basket total: <strong>€{{ total|floatformat:2 }}</strong></h6>
                            </td>
                        </tr>
                    <tr>
                        <td class="pt-5 text-right" colspan="5">
                            <a href="{% url 'shop:all_products' %}" class="btn btn-dark rounded"><i class="fas fa-shopping-basket mr-2"></i> Keep Shopping</a>
                        </td>
                    </tr>
                    </table>
                </div>
            {% else %}
            <p class="lead mb-5">The basket is empty</p>
            <a href="{% url 'shop:all_products' %}" class="btn btn-dark rounded btn-lg"><< Go back to shop page</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}