{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block title %}
- View basket
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2>View basket content</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if messages %}
                <ul class="list-unstyled">
                    {% for message in messages %}
                            <li{% if message.tags %} class="alert alert-success" role="alert"{% endif %}>
                                {{ message }}
                            </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if basket_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-bordeless">
                        <thead>
                            <tr>
                                <th scope="col">Product Details</th>
                                <th scope="col"></th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col" class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                        <tr>
                            <td class="p3" style='width: 15%'>
                                {% if product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" style="width: 90px; height: 90px">
                                {% else %}
                                <img src="{% static 'images/noimage.png' %}" alt="{{ item.product.name }}" class="img-thumbnail" style="width: 90px; height: 90px">
                                {% endif %}
                            </td>
                            <td class="py-3 text-start">
                                <p class="my-0">{{ item.product.name }}</p>
                                <p class="my-0">{% if item.product.has_sizes %}Size: {{ item.size|upper }}{% endif %}</p>

                            </td>
                            <td class="py-3 w-25">
                                <form class="form update-form" method="POST" action="{% url 'basket:adjust_basket' item.product.id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-dark rounded-0"
                                                            data-item_id="{{ item.product.id }}" id="decrement-qty_{{ item.product.id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input w-25" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.product.id }}"
                                                        id="id_qty_{{ item.product.id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-dark rounded-0"
                                                            data-item_id="{{ item.product.id }}" id="increment-qty_{{ item.product.id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            <a class="update-link text-info"><small>Update</small></a>
                                            <a class="remove-item text-danger float-right" id="remove_{{ item.product.id }}" data-product_size="{{ item.product.size }}"><small>Remove</small></a>
                                        </div>
                            </td>
                            <td class="py-3">
                                {{ item.product.price }}
                            </td>
                            <td class="py-3 text-right">
                                €{{ item.product.price| calc_subtotal:item.quantity }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6>Basket total: <strong>€{{ total|floatformat:2 }}</strong></h6>
                            </td>
                        </tr>
                    <tr>
                        <td class="pt-5 text-right" colspan="5">
                            <a href="{% url 'shop:all_products' %}" class="btn btn-dark rounded">
                                <i class="fas fa-shopping-basket mr-2"></i> Keep Shopping</a>
                            <a href="{% url 'checkout' %}" class="btn btn-primary">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                        </td>
                    </tr>
                    </table>
                </div>
            {% else %}
            <p class="lead mb-5">The basket is empty</p>
            <a href="{% url 'shop:all_products' %}" class="btn btn-dark rounded btn-lg"><< Go back to shop page</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
{% include 'basket/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId);
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        console.log(url);
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}