@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,600;0,800;1,600;1,800&family=Zilla+Slab:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.main-nav {
    font-family: 'Zilla Slab', serif;
    font-size: 1.3rem;
}

/* .sidebar-menu .navbar .nav-link {
    font-family: 'Rubik', serif !important;
    font-size: 1.3rem;
} */

.bg-navy {
    background-color: #041f54;
}

main {
    padding-top: 96px;
}

.thumbnail {
    object-fit: cover;
    width: 120px;
    height: 120px;
}

h1,h2,h3,h4,h5, h6 {
    font-family: 'Rubik', serif;
    font-weight: 500;
    color: #041f54;
}
