@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,600;0,800;1,600;1,800&family=Zilla+Slab:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
}

body {
    font-family: 'Lato', sans-serif;
}

.main-nav {
    font-family: 'Zilla Slab', serif;
    font-size: 1.3rem;
}

/* .sidebar-menu .navbar .nav-link {
    font-family: 'Rubik', serif !important;
    font-size: 1.3rem;
} */

.bg-navy {
    background-color: #041f54;
}

main {
    padding-top: 96px;
}

.thumbnail {
    object-fit: cover;
    width: 120px;
    height: 120px;
}

h1,h2,h3,h4,h5, h6 {
    font-family: 'Rubik', serif;
    font-weight: 500;
    color: #041f54;
}

.first-header {
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0;
}

.heading-background {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    bottom: 0;
}

.heading-title {
    font-size: 3rem;
    color: #041f54;
    padding: 0;
    margin: 1rem 0;
}

.sub-heading {
    min-height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0;
}

.homepage-post-date {
    margin-bottom: 0 !important;
}

.post-block {
    display: block;
    margin-bottom: 1rem;
    min-height: 120px;
}

.page-banner {
    max-height: 10rem;
    object-fit: cover;
    width: 100%;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .display-3 {
        font-size: 3rem;
    }

}