{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block extra_meta %}{% endblock %}

    {% block base_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    {% block extra_css %}{% endblock %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/20b6e2b96a.js" crossorigin="anonymous"></script>

        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_scripts %}{% endblock %}

    <title>Tralee United Club Website {% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navy">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo-white.svg' %}" alt="Tralee United Logo" class="mr-md-3">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto main-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'news:posts_list' %}">News</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'shop:all_products' %}">Shop</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'pages:join_us' %}">Join Us</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'pages:about_page' %}">About</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'pages:contact_page' %}">Contact Us</a>
                </li>
            </ul>


            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'admin:index' %}" class="dropdown-item">Admin Panel</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-white font-weight-bold{% else %}text-black{% endif %} nav-link"
                           href="{% url 'basket:view_basket' %}">
                            <div class="text-center text-white">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% if messages %}{% endif %}

<main role="main">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-navy">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 text-md-left text-center mb-2 mb-md-0"><img src="{% static 'images/logo-footer.svg' %}" alt="Tralee United FC"></div>
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <div class="text-white text-center ">Project built for educational purposes only</div>
            </div>
            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <div class="text-white text-small text-center text-md-right">©2020 Rafal Redlich</div>
            </div>
        </div>
    </div>
</footer>
{% block footer_scripts %}{% endblock %}
</body>
</html>